html {
  margin: 1% 2%;
}

h2 {
  text-decoration: underline;
}

.error {
  background-color: red;
  padding: 8px;
  margin: 16px auto;
  color: white;
}

.overdueFilm {
  border: 2px solid black;
}

.overdueFilm span {
  display: flex;
  justify-content: space-between;
  margin: auto 10%;
}

.overdueFilmContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 24px;
  margin: auto 12.5%;
}

#overdueTable {
  width: 100%;
  text-align: center;
}

#overdueTable thead {
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid black;
  background-color: aqua;
}

#overdueTable td {
  margin-right: 100px;
}

/* Nav */

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 25%;
  padding: 0px;
  font-size: 16pt;
}

@media only screen and (max-width: 1180px) {
  nav ul {
    width: 45%;
  }
}

@media only screen and (max-width: 650px) {
  nav ul {
    width: auto;
  }
}
